	* {
		border: 0;
		margin: 0;
		padding: 0;
	}
	
	image {
		width: 100%;
		height: 100%;
	}
	
	.f-l {
		float: left;
	}
	
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	/* 左右滑动1 */
	@-webkit-keyframes move{
	    10%{left: 10%;}
			80%{left: 80%;}
	}
	@-moz-keyframes move{
	    10%{left: 10%;}
			80%{left: 80%;}
	}
	@-ms-keyframes move{
	    10%{left: 10%;}
			80%{left: 80%;}
	}
	@keyframes move{
	    10%{left: 10%;}
			80%{left: 80%;}
	}
	
	/* 左右滑动2 */
	@-webkit-keyframes move2{
	    10%{left: -10%;}
			90%{left: 90%;}
	}
	@-moz-keyframes move2{
	    10%{left: -10%;}
			90%{left: 90%;}
	}
	@-ms-keyframes move2{
	    10%{left: -10%;}
			90%{left: 90%;}
	}
	@keyframes move2{
	    10%{left: -10%;}
			90%{left: 90%;}
	}
	
	/* 左右滑动3 */
	@-webkit-keyframes move3{
	    10%{left: 10%;}
			90%{left: 90%;}
	}
	@-moz-keyframes move3{
	    10%{left: 10%;}
			90%{left: 90%;}
	}
	@-ms-keyframes move3{
	    10%{left: 10%;}
			90%{left: 90%;}
	}
	@keyframes move3{
	    10%{left: 10%;}
			90%{left: 90%;}
	}
	
	/* 旋转 */
	@-webkit-keyframes haha1{
 
		0%{-webkit-transform:rotate(0deg);}
 
		25%{-webkit-transform:rotate(90deg);}
 
		50%{-webkit-transform:rotate(180deg);}
 
		75%{-webkit-transform:rotate(270deg);}
 
		100%{-webkit-transform:rotate(360deg);}
 
	}
	
	/* 规则页样式 */
	.rule-box {
		position: absolute;
		width: 100%;
		height: 100%;
		background: #000000;
		opacity: 0.618;
		top: 0;
		left: 0;
		z-index: 30;
	}
	
	.rule-page {
		position: relative;
		width: calc(515upx * 1.2);
		height: calc(990upx * 1.2);
		top: -150upx;
		left: calc((100% - 515upx * 1.2) / 2);
		background: url(../../static/index/rule_page.png) no-repeat;
		background-size: 101% 100%;
		z-index: 34;
	}
	
	.rule-content-page {
		position: absolute;
		width: calc(425upx * 1.2 + 8px * 1.2);
		height: calc(500upx * 1.2);
		left: 48upx;
		bottom: 40upx;
		text-align: left;
		overflow-x: hidden;
		overflow-y: auto;
		color: #412987;
	}
	
	.rule-title {
		position: relative;
		width: 100%;
		margin-top: 22upx;
	}
	
	.rule-title-image {
		display: inline-flex;
		width: 58upx;
		height: 58upx;
	}
	
	.rule-title .rule-title-image image {
		position: absolute;
		width: 26upx;
		height: 26upx;
		top: 16upx;
		left: 16upx;
	}
	
	.rule-title-text {
		width: calc(100% - 58upx);
		height: 58upx;
		display: inline-block;
		font-family: stand;
		font-size: 34upx;
		font-weight: 550;
	}
	
	.rule-content {
		position: relative;
		width: 100%;
	}
	
	.rule-content-image {
		display: inline-flex;
		width: 58upx;
		height: 38upx;
	}
	
	.rule-content .rule-content-image image {
		position: absolute;
		width: 10upx;
		height: 10upx;
		top: 18upx;
		left: 24upx;
	}
	
	.rule-content-text {
		width: calc(100% - 58upx);
		word-break: break-all;
		display: inline-block;
		font-size: 26upx;
		letter-spacing: -1upx;
	}
	
	.rule-close {
		position: absolute;
		width: 80upx;
		height: 80upx;
		top: calc(990upx * 1.2 - 150upx);
		left: calc((100% - 80upx) / 2);
		z-index: 35;
	}